:root {
  --primary-color: #f35588;
  --secondary-color: #45b2ba; 
  --buttons-grad: linear-gradient(to right bottom, var(--primary-color), var(--secondary-color));

  --bg-color: whitesmoke;
  --fg-color: white;

  --font-primary-color: black;
  --font-secondary-color: rgb(100, 100, 100);

  --button-padding-x: 0.5rem;
  --button-padding-y: 0.75rem;
  --button-radius: 12px;

  --header-height: 2.5rem;
  --header-radius: 16px;
  --page-content-height: calc(100vh - 1.6*var(--header-height));

  --panels-shadow: 0 0 10px rgba(0, 0, 0, 15%); 

  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.25rem;
  color: var(--font-primary-color);
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
}

header {
  display: flex;
  position: sticky;
  top: 0;
  height: var(--header-height);
  padding: 0.75rem 1.5rem;
  gap: 8px;
  align-items: center;
  z-index: 1;

  background-color: var(--fg-color);
  border-radius: 0 0 var(--header-radius) var(--header-radius);
  box-shadow: var(--panels-shadow);

  button, .button {
    padding: 0.35rem 0.5rem;
    float: right;
    transition: all 100ms ease-in-out;
    font-size: large;

    &:hover {
      background-color: black;
      color: white;
    }
  }

  .logo {
    margin-right: auto;
  }
}

button, .button {
  background: none;
  font-size: inherit;
  border: 1px solid black;
  border-radius: var(--button-radius);
  padding: calc(var(--button-padding-x) + 2px + 0.15rem) calc(var(--button-padding-y) + 2px + 0.15rem);
}

main {
  padding: 0 1.5rem;
  overflow-x: hidden;

  @media (width < 48rem) {
    width: auto;
  }
}

#landing {
  height: var(--page-content-height);
  padding-inline: 5rem;
  /* overflow: hidden; */
  position: relative;

  /* h2 {
    padding-block-start: 0.83em;
    margin: 0;
  } */

  &::before {
    content: "";
    position: absolute;
    background-image: url("/img/landing_background.png");
    width: 75%;
    /* height: 100%; */
    right: 0;
    top: 5%;
    bottom: 5%;
    aspect-ratio: 1/1;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    opacity: 10%;
    z-index: -1;
  }

  #info {
    width: 60%;
    height: 100%;
    align-content: center;
  }

  @media (width < 48rem) {
    padding: 0;

    #info {
      width: auto;
    }
    
    &::before {
      width: auto;
      top: 10%;
      bottom: 10%;
      left: 15%;
      right: auto;
    }
  }
}

main button, main .button {
  position: relative;
  border-color: transparent;
  transition: all 150ms ease-in-out;

  &.highlight {
    background: #000;
    background-repeat: no-repeat !important;
    background-origin: border-box !important;
    color: var(--bg-color);
  }

  &:hover {
    translate: 0 -5px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 15%);
    &::before {
      content: "";
      inset: 0;
      position: absolute;
      background: var(--buttons-grad);
      z-index: -1;
      border-radius: var(--button-radius);
    }
  }

  &:not(.highlight)::after {
    content: "";
    position: absolute;
    inset: 0;
    padding: 2px;
    border-radius: var(--button-radius);
    background: #000;
    background-repeat: no-repeat;
    mask: 
      conic-gradient(#000 0 0) content-box, 
      conic-gradient(#000 0 0);
    mask-composite: exclude;
    pointer-events: none;
  }
}

.logo {
  user-select: none;
  font-weight: bold;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.requestCodeText {
  display: flex;
  height: var(--page-content-height);
  width: 100%; 
  margin: 0;
  text-align: center; 
  justify-content: center;
  align-items: center;
}

input {
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 10%);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 10%);
  border-radius: var(--button-radius);
  height: 100%;
  font-size: large;
  padding-inline: 0.75rem;
}

.fullpage {
  display: flex;
  width: 100%;
  height: calc(var(--page-content-height) - 3rem);
  margin: 1.5rem 0;
  justify-content: center;
  align-items: center;
}

.panel {
  display: flex;
  flex-direction: column;
  background: var(--fg-color);
  border-radius: var(--header-radius);
  box-shadow: var(--panels-shadow);
  padding: 2rem;
  margin-bottom: 2rem;
  max-width: 30rem;
  width: 100%;
  height: fit-content;
  gap: 1.5rem;

  ul {
    list-style: none;
    width: 100%;
    max-width: 30rem;
    padding: 0;

    li {
      display: grid;
      grid-template-columns: 1fr 3fr;
      gap: 1rem;
      height: 45px;
      padding-bottom: 1rem;
      align-items: center;

      &:last-of-type {
        padding-bottom: 0;
      }
    }
  }
}